[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
