bundle/gruvbox/
bundle/indentpython.vim/
bundle/nerdtree/
bundle/one-dark.vim/
bundle/vim-colorschemes/
bundle/vim-commentary/
bundle/vim-fugitive/
bundle/vim-javacomplete2/
bundle/vim-javascript/
bundle/vim-json/
bundle/vim-monokai/
colors/monokai.vim
bundle/ctrlp.vim/
bundle/vim-go/
bundle/YouCompleteMe/
